<h2>Memory</h2>

<a href="/new">Add a new place</a>

{{#if memories}}
{{!-- <a href="#" id="zoomOut">Your places:</a> --}}
<ul>
      {{#each memories}}
      <li >
        {{!-- <a href="#" onclick="zoomIn({{this.location}})">{{this.name}}</a> | --}}
        <a href="/{{this._id}}/edit">Edit</a> |
        <a href="/{{this._id}}/delete">Delete</a>
      </li>
      {{/each }}
    </ul>
{{/if}}